*{
    box-sizing: border-box;    
}

.wrap {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

body, html { 
    height: 100%;
	   background-color: #FCFCFC;

}



h1 {
    font-size: 4.854rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;

}


h2 {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}


h6 { 
    font-size: 12.707rem;
}




p {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #1D1E2C;

}

li {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}







body{


    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    padding-left: auto;
    padding-right: auto;
    
    
    
}



a{
    text-decoration: none;
}



.header-index {
    background: url(../../images/3dbg2.png);
    background-position: center;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 2rem;
    

    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: auto;
    
}

.header-status {
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 2rem;
     
}



.header-about {
    width: min(90%, 70.5rem);
    margin: 0 auto;
    margin-top: 7rem;

}

    .menu {

        display: flex;
        flex-flow: row;
        margin: 0 auto;
        width: min(90%, 70.5rem);

    }

            .logo  {
                height: 50px;
                width: min(90%, 70.5rem);
        }
            .logo a:hover{
                filter:invert(20%);
            }
            
        .nav {
            height: 50px;
            font-weight: 700;
            display: flex;
            flex-flow: row;
            align-items: center;
        }



                
                           
      

            .texto-principal{
                
                height: 850px;
                display: flex;
                margin: 0 auto;
                width: min(90%, 70.5rem);
                margin-top: 5rem;
                
    
        
            }
            .titulo-principal{
                display: inline;
                color: #1D1E2C;
                margin-top: 61px;
                width: min(90%, 35.5rem)
            }
                
            
            


        .status-imagen {
           
           margin-top: -16rem;
        }

        .status-texto {
            text-align: center;
            
            
        }









.brands {

    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: min(90%, 70.5rem);


    
     
    }

    

        .logos   {
            flex: 1 1 40%;
            text-align: center;
           
        }




        .work {

            display: flex;
            flex-flow: row wrap;
            flex: 1 1 auto;
            margin: 0 auto;
            
            padding-bottom: 5%;
            width: cover;
            justify-content: center;
            align-items: flex-start;
            align-content: stretch;

         
        }
    
                .work-status  {
		    flex: 1 1 auto;
                    width: 600px;
                    padding: 1%;
                    max-width: 600px;

            }
          
            .work-status a:hover{
                filter:invert(20%)

            }



                .work-nike {
                      flex: 1 1 auto;
                      width: 600px;
                      padding: 1%;
                      max-width: 600px;

                }

                .work-nike a:hover{
                    filter:invert(20%)
                }


                .work-skyscanner  {
                    flex: 1 1 auto;
                    width: 600px;
                    padding: 1%;
                    max-width: 600px;


            }
          
            .work-skyscanner a:hover{
                filter:invert(20%)

            }

                .work-redeem {
                    flex: 1 1 auto;
                    width: 600px;
                    padding: 1%;
                    max-width: 600px;
                    align-self: center;

   
                }

                .work-redeem a:hover{
                    filter:invert(20%)
                }

                

.work-title {
    text-align: left;
    width: cover;
    margin: 0 auto;
    color: #1D1E2C;
    margin-bottom: 15%;

    background: url(../../images/bg4.svg);
    
    background-size: contain;
	    background-repeat:repeat-y;

 

}



.portfolio-gallery-wrapper {
    padding-top: 15%;
    padding-bottom: 15%;

    background: url(../../images/bg4.svg);
    
    background-size: auto;

}


.bg4 {
    

    background: url(../../images/bg4.svg);
    
    background-size: auto;

}


.column {
            display: flex;
            flex-flow: row wrap;
            flex: 1 1 auto;
            margin: 0 auto;
            justify-content:center;
            object-fit: cover;
            text-align: center;
            align-content: center;
            align-self: center;
            justify-items: center;
            justify-self: center;
            place-items: center;
            vertical-align: middle;
            margin: 0 auto;
           /* background-color: rgb(212, 212, 212); */
            /* max-width: 77.715rem; */

}    

.column img { 
    flex: 1 1 auto;
    max-width: 800px;


}




#portfoliopic {
    border-radius: 6vh;
    padding: 2%;
}






.get-status {
    margin-top: -18rem;
    
}

       





        a.button-status {
            display: flex;
            flex-flow: column;
            border-radius: 2vh;
            align-items: center;
            padding: 5px 5px 5px 5px;
            border: 2px solid #1D1E2C;

            width: 200px;
            margin-top: 5rem;
            text-align: center;
            align-content: center;
            align-self: center;
            justify-items: center;
            justify-self: center;
            place-items: center;
            vertical-align: middle;
            margin: 0 auto;
           }
        
           a.button-status:hover{
            -webkit-text-fill-color:white;
            background-color: #1D1E2C;

            }






        a.button-work:hover {
            filter: invert(60%);
        }

        a.button-about:hover {
            filter:invert(60%)
        }

        a.button-contact:hover {
            filter:invert(60%)
        }





        
       .overview{
        display: flex;
        flex-flow: column;  
        text-align: justify;   
        margin: 0 auto;
        width: min(90%, 70.5rem);
        margin-top: 20rem;
        max-width: 70.5ch;
        border-radius: 50px;
        
            

        } 
   



        .myrole{
           display: flex;
           flex-flow: column;
           text-align: justify;
           margin: 0 auto;
           width: min(90%, 70.5rem);
           margin-top: 20rem;
           max-width: 70.5ch;
        border-radius: 50px;
        } 

       



        .hatsworn{
            display: flex;
            flex-flow: column;
            text-align: left;
            margin: 0 auto;     
           width: min(90%, 70.5rem);
           margin-top: 20rem;
           max-width: 70.5ch;
        border-radius: 50px;
         
         } 


         






         .newlanguage {
            display: block;
            margin: 0 auto;
            text-align: center;
            
            width: 100%;
            max-width:  70.5ch;
            margin-top: 5rem;
            align-content: center;
            align-self: center;
            justify-items: center;
            justify-self: center;
            place-items: center;
            line-height: 100%;
         }

         .challenge{
            display: flex;
           flex-flow: column;
           text-align: justify;
           margin: 0 auto;
           width: min(90%, 70.5rem);
           margin-top: 20rem;
           max-width: 70.5ch;
        border-radius: 50px;
         } 



 .skills{
            display: flex;
           flex-flow: column;
           text-align: justify;
           margin: 0 auto;
           width: min(90%, 70.5rem);
           margin-top: 5rem;
           max-width: 70.5ch;
        border-radius: 50px;
         } 

        

         .ux {
            display: flex;
            flex-flow: column;  
            text-align: justify;   
            margin: 0 auto;
            width: min(90%, 70.5rem);
            margin-top: 20rem;
            max-width: 70.5ch;
        border-radius: 50px;
        
         }

         .seedphrase1 {
            text-align: center;
            
margin-top: 1rem;
            display: block;
            margin: 0 auto;
            text-align: center;
        
            
            max-width:  60ch;
 

         }
                 
         .report {
            display: flex;
            flex-flow: column;
            border-radius: 2vh;
            align-items: center;
            padding: 1px 1px 1px 1px;
            width: 300px;
            text-align: center;
            align-content: center;
            align-self: center;
            justify-items: center;
            justify-self: center;
            place-items: center;
            vertical-align: middle;
            margin: 0 auto;

         }


         




         .solving{
            display: flex;
            flex-flow: column;
            text-align: justify;
            margin: 0 auto;
            width: min(90%, 70.5rem);
            margin-top: 20rem;
            max-width: 70.5ch;
        border-radius: 50px;
          
         } 


         .seedphrase0text {
            display: flex;
            flex-flow: column;
            text-align: justify;
            margin: 0 auto;
            width: min(90%, 70.5rem);
            max-width: 70.5ch;
            margin-top: 10px;
            
            border-radius: 10px; 

         }

         .greybox {
            display: flex;
            flex-flow: column;
            text-align: justify;
            margin: 0 auto;
            max-width: 70.5ch;
            padding: 10px 30px 10px 30px;
            margin-top: 50px;
            border-radius: 2vh; 
            background-color: #F5F5F5;
         }


.box {
    background: black;
}




         .seedphrase0 {
            text-align: center;
            align-content: center;
            align-self: center;
            justify-items: center;
            justify-self: center;
            place-items: center;
            vertical-align: middle;
            line-height: 100%;
         }

         



.screenshots {
        margin: 0 auto;
        width: min(90%, 70.5rem);
        margin-top: 20rem;
        max-width: 60ch;
        display: flex;
        flex-flow: column;

        

}

        .gallery-wrapper {
        overflow-x: scroll;
	overflow-y: hidden;

	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 0 50px;
	
	padding: 30px 60px;
	

    text-align: center;  
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    place-items: center;
    vertical-align: middle;
    line-height: 100%;
    background-color: #F5F5F5;


}


.gallery {
    padding: 20px;
}


.gallery-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

.gallery-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}







.otherworks {
    margin-top: 10rem;
    padding-bottom: 10rem;
    padding-left:  5rem;
    padding-right: 5rem;
}

a.otherworks-btn {
    display: flex;
    flex-flow: column;
    border-radius: 2vh;
    align-items: center;
    
    padding: 5px 5px 5px 5px;
    border: 2px solid #1D1E2C;

    width: 250px;
    text-align: center;
    margin: 0 auto;

   }

   a.otherworks-btn:hover{
    -webkit-text-fill-color:white;
    background-color: #1D1E2C;

    }







.footer {
    display: flex;
    flex-flow: column ;
    
    max-width: 75ch;
    margin: 0 auto;

    margin-top: 5rem;
    width: min(90%, 70.5rem);

    text-align: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    place-items: center;
    vertical-align: middle;
  


    
}

.footer-text { 
    display: flex;
    flex-flow: column;
    margin-top: 10rem;
    z-index: 2;

    text-align: center;
    
}
 


.myemail {
    padding-left: 5rem;
    padding-right: 5rem;
}

a.button-email {
    display: flex;
    flex-flow: column;
    border-radius: 2vh;
    align-items: center;
    padding: 5px 5px 5px 5px;
    border: 2px solid #1D1E2C;

    width: 325px;
    margin-top: 5rem;
    text-align: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    place-items: center;
    vertical-align: middle;
    
   }

   a.button-email:hover{

    -webkit-text-fill-color:white;
    background-color: #1D1E2C;
}


.bg {
    z-index: -1000;
    opacity: 25%;
    margin-top: -45rem;
    margin-right: 0rem;
}




.copyright {
    margin-top: 10rem;
    text-align: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    place-items: center;
    vertical-align: middle;

    z-index: 1;
}


.bg {
    z-index: -1000;
    opacity: 25%;
    margin-top: -50rem;
    margin-right: 0rem;
}


.bg2 {
    background: url(../../images/bg2.svg);
    height: 500px;
    background-position: left;
    background-repeat: repeat-y;
    background-size: cover;
    z-index: -1100;
}


.bg3 {
    background: url(../../images/bg3.svg);
    height: 500px;
    background-position: left;
    background-repeat: repeat-y;
    background-size: cover;
    z-index: -1100;
}



.skills {
    margin-top: 5rem;
    width: min(90%, 70.5rem);
    text-align: center;
    margin: 0 auto;
    margin-top: 5rem;
    max-width: 75ch;

}



.huge {
    display: block;
    margin: 0 auto;
    text-align: center;
    
    width: 100%;
    max-width:  70.5ch;
    margin-top: 5rem;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    place-items: center;
    line-height: 100%;
 }



 @media all and (max-width: 1024px) {
    .section  {
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
        text-align: center;
            align-content: center;
            align-self: center;
    }

h1 {
    font-size: 3.454rem;
}
    h6 {
        font-size: 7.853rem;
    }

    .logo {
        text-align: center;
        align-content: center;
        align-self: center; 
    }

    .nav{
        margin-top: 2rem;
        flex-direction: row;
        height: auto;
        text-align: center;
        align-content: center;
        align-self: center;
    }

    .articulos .overview .img-payments{
        
        flex-direction: column;
        text-align: justify;
        display: flex;
        text-align: center;
        align-content: center;
        align-self: center;
        margin: 0 auto;
    }

    .header-index {
        background: url(../../images/3dbg2_1024.png);
        background-position: center;
        display: flex;
        flex-flow: column nowrap;
        margin-top: 2rem;
        
    
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 100%;
        min-height: auto;
        
    }



}





@media all and (max-width: 768px) {
    .section .work .column {
        flex-direction: column;
    }

    .column img { 
        flex: 1 1 auto;
        max-width: 700px;
    
    
    }

    

    .menu{
        flex-direction: column;
        height: auto;
        text-align: center;
            align-content: center;
            align-self: center;
    }

    h1 {
        font-size: 3.454rem;
    }
    h6 {
        font-size: 7.853rem;
    }

    .logo {
        text-align: center;
        align-content: center;
        align-self: center; 
    }

    .nav{
        margin-top: 2rem;
        flex-direction: row;
        height: auto;
        text-align: center;
        align-content: center;
        align-self: center;
    }

    .articulos .overview .img-payments{
        
        flex-direction: column;
        text-align: justify;
        display: flex;
        text-align: center;
        align-content: center;
        align-self: center;
        margin: 0 auto;
    }

    .header-index {
	            background: none;

        background-position: center;
        display: flex;
        flex-flow: column nowrap;
        margin-top: 2rem;
        
    
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 100%;
        min-height: auto;
        
    }



}
    


@media all and (max-width: 411px){
    .section .work .column {
        flex-direction: column;
    }

    .column img { 
        flex: 1 1 auto;
        max-width: 350px;
    }






    .menu{
        flex-direction: column;
        height: auto;
        text-align: center;
            align-content: center;
            align-self: center;
    }

    h1 {
        font-size: 3.454rem;
    }
    h6 {
        font-size: 7.853rem;
    }

    .logo {
        text-align: center;
        align-content: center;
        align-self: center; 
    }

    .nav{
        margin-top: 2rem;
        flex-direction: row;
        height: auto;
        text-align: center;
        align-content: center;
        align-self: center;
    }

    .articulos .overview .img-payments{
        
        flex-direction: column;
        text-align: justify;
        display: flex;
        text-align: center;
        align-content: center;
        align-self: center;
        margin: 0 auto;
    }

    .header-index {
	            background: none;

        background-position: center;
        display: flex;
        flex-flow: column nowrap;
        margin-top: 2rem;
        
    
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 100%;
        min-height: auto;
        
    }

}
   
@media all and (max-width: 360px) {
    .section .work .column {
        flex-direction: column;
    }


    .column img { 
        flex: 1 1 auto;
        max-width: 300px;
    }
    .menu{
        flex-direction: column;
        height: auto;
        text-align: center;
            align-content: center;
            align-self: center;
    }
h1 {
    font-size: 3.454rem;
}

    h6 {
        font-size: 7.853rem;
    }

    .logo {
        text-align: center;
        align-content: center;
        align-self: center; 
    }

    .nav{
        margin-top: 2rem;
        flex-direction: row;
        height: auto;
        text-align: center;
        align-content: center;
        align-self: center;
    }

    .articulos .overview .img-payments{
        
        flex-direction: column;
        text-align: justify;
        display: flex;
        text-align: center;
        align-content: center;
        align-self: center;
        margin: 0 auto;
    }

    .header-index {
	            background: none;

        background-position: center;
        display: flex;
        flex-flow: column nowrap;
        margin-top: 2rem;
        
    
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 100%;
        min-height: auto;
        
    }



}




.skyscanner1 {
    
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width:  150ch;
    margin-top: 5rem;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    place-items: center;
    line-height: 100%;
  
}



.fly {
    
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width:  100ch;
    margin-top: 5rem;

  
}



.icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
  }
  .dribbble {
    width: 100px;
  }



  mark {
    margin: 0 -0.4em;
    padding: 0.6em 1em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 209, 117, 0.1),
      rgba(255, 209, 117, 0.8) 4%,
      rgba(255, 209, 117, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  #imgrounded {
      border-radius: 2vh;
  }

  #imgrounded2 {
    border-radius: 4vh;
}
  
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 

