*{
    box-sizing: border-box;
        
}

.wrap {
    margin:0 auto;
    padding:0;
    overflow-x:hidden;
}

body, html { 
	   background: #FCFCFC;
       margin: 0 auto;

       width: 100%;
  height: 100%;
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;

}



h1 {
    font-size: 4.854rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #161721;

}


h1 span {
    display: inline-block;
}


h2 {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: #161721;

}

li span {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: #161721;

}



h6 { 
    font-size: 12.707rem;
    color: #161721;

}



h5 { 
    font-size: 12.707rem;
    color: #161721;

}



p {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #161721;

}

li {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #161721;

}


.skyscanner-title {
    margin-top: 40%;
}


.menu-wrapper {
    display: none;
  }




body{


    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    padding-left: auto;
    padding-right: auto;
    
    
    
}



a{
    text-decoration: none;
}





.header-status {
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 2rem;
     
}



.header-about {
    width: min(90%, 70.5rem);
    margin: 0 auto;
    margin-top: 7rem;

}

    .menu {

        display: flex;
        flex-flow: row;
        margin: 0 auto;
        width: min(90%, 70.5rem);
        justify-content: space-between;
        margin-top: 2rem;


    }

            .logo  {
                flex: 1 1 50;

                height: 50px;
                margin-left: 0;
                align-content: flex-start;
        }
            .logo a:hover{
                filter:invert(20%);
            }
            
        .nav {
            flex: 1 1 50;
            margin-top: 1.5rem;
            height: 50px;
            font-weight: 700;
            vertical-align: middle;
            align-content: flex-end;


        }



                
                           
      

            .texto-principal {
                
               /* height: 850px;
                display: flex;
                margin: 0 auto;
                width: min(90%, 70.5rem);
                margin-top: 5rem;*/
                
flex: 1 1 40%;
width: 600px;
padding: 1%;
max-width: 600px;

            }
        
.parrafo-principal {
    max-width: 45.5ch;
    text-align: justify;
    margin-top:5rem;
    width: min(90%, 35.5rem);
    font-size: 1.14rem;
}


            .titulo-principal{
                display: inline;
                color: #161721;
                margin-top: 61px;
                width: min(90%, 35.5rem)
            }
              
            

            .hero {
                display: flex;
                flex-flow: row nowrap;
                margin: 0 auto;
                width: min(90%, 70.5rem);
                margin-top: 10rem;
                margin-bottom: 10rem;
                justify-content: space-between;
            
            }
            
            .hero-image {
            
            flex: 1 1 40%;
            
            padding: 1%;
            max-width: 600px;
            justify-content:center;
            text-align: center;
            align-content: center;
            align-self: center;
            justify-items: center;
            justify-self: center;
            place-items: center;
            vertical-align: middle;
            margin: 0 auto;
            }
            
            


        .status-imagen {
           
           margin-top: -16rem;
        }

        .status-texto {
            text-align: center;
            
            
        }






.brands {

    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: min(90%, 70.5rem);


    
     
    }

    

        .logos   {
            flex: 1 1 40%;
            text-align: center;
           
        }




        .work {

            display: flex;
            flex-flow: row wrap;
            flex: 1 1 auto;
            margin: 0 auto;
            
            padding-bottom: 5%;
            width: cover;
            justify-content: center;
            align-items:center;
            align-content:center;

         
        }

     .work-bcdc  {
		    flex: 1 1 auto;
                    width: 600px;
                    padding: 1%;
                    max-width: 600px;

            }
          
            .work-bcdc a:hover{
                filter:invert(20%)

            }




                .work-status  {
		    flex: 1 1 auto;
                    width: 600px;
                    padding: 1%;
                    max-width: 600px;

            }
          
            .work-status a:hover{
                filter:invert(20%)

            }



                .work-nike {
                      flex: 1 1 auto;
                      width: 600px;
                      padding: 1%;
                      max-width: 600px;

                }

                .work-nike a:hover{
                    filter:invert(20%)
                }


                .work-skyscanner  {
                    flex: 1 1 auto;
                    width: 600px;
                    padding: 1%;
                    max-width: 600px;


            }
          
            .work-skyscanner a:hover{
                filter:invert(20%)

            }

                .work-redeem {
                    flex: 1 1 auto;
                    width: 600px;
                    padding: 1%;
                    max-width: 600px;
                    align-self: center;

   
                }

                .work-redeem a:hover{
                    filter:invert(20%)
                }

                

.work-title {
    text-align: left;
    width: cover;
    margin: 0 auto;
    margin-bottom: 15%;


    background: url(../../images/bg5.svg);
    background-color: #161721 ;
    background-size:cover;
	background-repeat:no-repeat;
    

}

.work-title2 {
text-align: center;
padding-top: 20%;
padding-bottom: 5%; 
}


.work-title3 {
    text-align: left;
    width: cover;
    margin: 0 auto;
    margin-bottom: 15%;
margin-top: -10rem;

    background: url(../../images/bg5.svg);
    background-color: #161721 ;
    background-size:cover;
	background-repeat:no-repeat;
    

}

.work-title4 {
    text-align: center;
    padding-top: 20rem;
    padding-bottom: 0rem; 
    }



.portfolio-gallery-wrapper {
    padding-top: 15%;
    padding-bottom: 15%;
    background: url(../../images/bg4.svg);
    
    background-size: auto;

}


.bg4 {
    

    background: url(../../images/bg4.svg);
    
    background-size: auto;

}


.column {
            display: flex;
            flex-flow: row wrap;
            flex: 1 1 auto;
            margin: 0 auto;
            justify-content:center;
            object-fit: cover;
            text-align: center;
            align-content: center;
            align-self: center;
            justify-items: center;
            justify-self: center;
            place-items: center;
            vertical-align: middle;
            margin: 0 auto;

}    

.column img { 
    flex: 1 1 auto;
    max-width: 800px;
width: 100%;
height: 100%;

}










.get-status {
    margin-top: -18rem;
    
}

       





        a.button-status {
            display: flex;
            flex-flow: column;
            border-radius: 2vh;
            align-items: center;
            padding: 5px 5px 5px 5px;
            border: 2px solid #1D1E2C;

            width: 200px;
            margin-top: 5rem;
            text-align: center;
            align-content: center;
            align-self: center;
            justify-items: center;
            justify-self: center;
            place-items: center;
            vertical-align: middle;
            margin: 0 auto;
           }
        
           a.button-status:hover{
            -webkit-text-fill-color:white;
            background-color: #161721;

            }






        a.button-work:hover {
            filter: invert(60%);
        }

        a.button-about:hover {
            filter:invert(60%)
        }

        a.button-contact:hover {
            filter:invert(60%)
        }





        
       .overview{
        display: flex;
        flex-flow: column;  
        text-align: justify;   
        margin: 0 auto;
        width: min(90%, 70.5rem);
        margin-top: 20rem;
        max-width: 70.5ch;
        border-radius: 50px;
        
            

        } 
   



        .myrole{
           display: flex;
           flex-flow: column;
           text-align: justify;
           margin: 0 auto;
           width: min(90%, 70.5rem);
           margin-top: 20rem;
           max-width: 70.5ch;
        border-radius: 50px;
        } 

       



        .hatsworn{
            display: flex;
            flex-flow: column;
            text-align: left;
            margin: 0 auto;     
           width: min(90%, 70.5rem);
           margin-top: 20rem;
           max-width: 70.5ch;
        border-radius: 50px;
         
         } 


         






         .newlanguage {
            display: block;
            margin: 0 auto;
            text-align: center;
            
            width: 100%;
            max-width:  70.5ch;
            margin-top: 5rem;
            align-content: center;
            align-self: center;
            justify-items: center;
            justify-self: center;
            place-items: center;
            line-height: 100%;
         }

         .challenge{
            display: flex;
           flex-flow: column;
           text-align: justify;
           margin: 0 auto;
           width: min(90%, 70.5rem);
           margin-top: 20rem;
           max-width: 70.5ch;
        border-radius: 50px;
         } 



 .skills{
            display: flex;
           flex-flow: column;
           text-align: justify;
           margin: 0 auto;
           width: min(90%, 70.5rem);
           margin-top: 5rem;
           max-width: 70.5ch;
        border-radius: 50px;
         } 

        

         .ux {
            display: flex;
            flex-flow: column;  
            text-align:left;   
            margin: 0 auto;
            width: min(90%, 70.5rem);
            margin-top: 20rem;
            max-width: 70.5ch;
        border-radius: 50px;
        
         }

         .seedphrase1 {
            text-align: center;
            
margin-top: 1rem;
            display: block;
            margin: 0 auto;
            text-align: center;
        
            
            max-width:  60ch;
 

         }
                 
         .report-big {
            display: flex;
            flex-flow: column;
            border-radius: 2vh;
            align-items: center;
            padding: 1px 1px 1px 1px;
            width: 300px;
            text-align: center;
            align-content: center;
            align-self: center;
            justify-items: center;
            justify-self: center;
            place-items: center;
            vertical-align: middle;
            margin: 0 auto;

         }


                
         .report-small {
            display: none;
         }

         




         .solving{
            display: flex;
            flex-flow: column;
            text-align: justify;
            margin: 0 auto;
            width: min(90%, 70.5rem);
            margin-top: 20rem;
            max-width: 70.5ch;
        border-radius: 50px;
          
         } 


         .seedphrase0text {
            display: flex;
            flex-flow: column;
            text-align: justify;
            margin: 0 auto;
            width: min(90%, 70.5rem);
            max-width: 70.5ch;
            margin-top: 10px;
            
            border-radius: 10px; 

         }

         .greybox {
            display: flex;
            flex-flow: column;
            text-align: justify;
            margin: 0 auto;
            max-width: 70.5ch;
            padding: 10px 30px 10px 30px;
            margin-top: 50px;
            border-radius: 2vh; 
            background-color: #F5F5F5;
         }



         .greybox2 {
            display: flex;
            flex-flow: column;
            margin: 0 auto;
            max-width: 70.5ch;
            margin-top: 50px; 
            margin-top: 30rem;
         }



         .line{
            width: 100%;
            max-width: 70.5ch;

            border-bottom: 1px solid #161721;
            position: absolute;
            }
            


.box {
    background: black;
}




         .seedphrase0 {
            text-align: center;
            align-content: center;
            align-self: center;
            justify-items: center;
            justify-self: center;
            place-items: center;
            vertical-align: middle;
            line-height: 100%;
         }

         



.screenshots {
        margin: 0 auto;
        width: min(90%, 70.5rem);
        margin-top: 20rem;
        max-width: 60ch;
        display: flex;
        flex-flow: column;

        

}

        .gallery-wrapper {
        overflow-x: scroll;
	overflow-y: hidden;

	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 0 50px;
	
	padding: 30px 60px;
	

    text-align: center;  
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    place-items: center;
    vertical-align: middle;
    line-height: 100%;
    background-color: #F5F5F5;


}


.gallery {
    padding: 20px;
}


.gallery-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

.gallery-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}







.otherworks {
    margin-top: 10rem;
    padding-bottom: 10rem;
    padding-left:  5rem;
    padding-right: 5rem;
}

a.otherworks-btn {
    display: flex;
    flex-flow: column;
    border-radius: 2vh;
    align-items: center;
    
    padding: 5px 5px 5px 5px;
    border: 2px solid #1D1E2C;

    width: 250px;
    text-align: center;
    margin: 0 auto;

   }

   a.otherworks-btn:hover{
    -webkit-text-fill-color:white;
    background-color: #161721;

    }







.footer {
    display: flex;
    flex-flow: column ;
    
    max-width: 75ch;
    margin: 0 auto;

    margin-top: 5rem;
    width: min(90%, 70.5rem);

    text-align: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    place-items: center;
    vertical-align: middle;
  


    
}

.footer-text { 
    display: flex;
    flex-flow: column;
    margin-top: 10rem;
    z-index: 2;

    text-align: center;
    
}
 


.myemail {
    padding-left: 5rem;
    padding-right: 5rem;
}

a.button-email {
    display: flex;
    flex-flow: column;
    border-radius: 2vh;
    align-items: center;
    padding: 5px 5px 5px 5px;
    border: 2px solid #1D1E2C;

    width: 325px;
    margin-top: 5rem;
    text-align: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    place-items: center;
    vertical-align: middle;
    
   }

   a.button-email:hover{

    -webkit-text-fill-color:white;
    background-color: #161721;
}


.bg {
    z-index: -1000;
    opacity: 25%;
    margin-top: -45rem;
    margin-right: 0rem;
}




.copyright {
    margin-top: 10rem;
    text-align: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    place-items: center;
    vertical-align: middle;

    z-index: 1;
}


.bg {
    z-index: -1000;
    opacity: 25%;
    margin-top: -50rem;
    margin-right: 0rem;
}


.bg2 {
    background: url(../../images/bg2.svg);
    height: 500px;
    background-position: left;
    background-repeat: repeat-y;
    background-size: cover;
    z-index: -1100;
}


.bg3 {
    background: url(../../images/bg3.svg);
    height: 500px;
    background-position: left;
    background-repeat: repeat-y;
    background-size: cover;
    z-index: -1100;
}



.skills {
    margin-top: 5rem;
    width: min(90%, 70.5rem);
    text-align: center;
    margin: 0 auto;
    margin-top: 5rem;
    max-width: 75ch;

}



.huge {
    display: block;
    margin: 0 auto;
    text-align: center;
    
    width: 100%;
    max-width:  70.5ch;
    margin-top: 5rem;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    place-items: center;
    line-height: 100%;
 }


 .about-text{
    display: flex;
    flex-flow: column;  
    text-align: justify;   
    margin: 0 auto;
    width: min(90%, 70.5rem);
    margin-top: 10rem;
    max-width: 70.5ch;
    border-radius: 50px;
    
        

    } 




    #hero-small {
        display:none;
    }



    #hero-medium {
        display:none;
    }


.skills-img {
    margin-top: 0rem;
}

.image-resize{
  width: 50%;
  height: auto;
}


@media all and (max-width: 1367px) {


    h1 {
        font-size: 3.454rem;
    }
    
    
    h1 span {
        display: inline-block;
    }
    
    
    h2 {
        font-size: 2.135rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 900;
        color: #161721;
    
    }
    
    li span {
        font-size: 2.135rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 900;
        color: #161721;
    
    }
    
    
    
    h6 { 
        font-size: 9.044rem;
        color: #161721;
    
    }
    
    
    
    h5 { 
        font-size: 9.044rem;
        color: #161721;
    
    }
    
    
    
    p {
        font-size: 1.067rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #161721;
    
    }
    
    li {
        font-size: 1.067rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #161721;
    
    }
    





    #hero-big {
        display:none;
    }


    #hero-small {
        display:none;
    }

    #hero-medium {
        display:flex;
    }


    .hero {
        margin-top: 10rem;
       
        margin-bottom: 10rem;
    }


    .texto-principal {
                
flex: 1 1 40%;
width: 413px;
padding: 1%;
max-width: 413px;

     }

}

 @media all and (max-width: 1024px) {

    #hero-big {
        display:none;
    }


    #hero-small {
        display:none;
    }

    #hero-medium {
        display:flex;
    }

    

   
.logo {
    margin-left: 1.5rem;
}
    .menu-wrapper {
     display: block;
    }

    .nav {
        display: none;
    }

h1 {
    font-size: 3.454rem;
    color: #161721;
}
    h6 {
        font-size: 7.853rem;
    }


    h5 { 
        font-size: 7.853rem;
    
    }


    
    


    .articulos .overview .img-payments{
        
        flex-direction: column;
        text-align: justify;
        display: flex;
        text-align: center;
        align-content: center;
        align-self: center;
        margin: 0 auto;
    }

	 
	 

	.work-bcdc  {
        margin-top: 20%;
                flex: 1 1 auto;
                min-width: 600px;
                padding: 5%;

        }
    

    .work-status  {
        margin-top: 20%;
                flex: 1 1 auto;
                min-width: 600px;
                padding: 5%;

        }
      
    

            .work-nike {
                  flex: 1 1 auto;
                  min-width: 600px;
                  padding: 5%;

            }



            .work-skyscanner  {
                flex: 1 1 auto;
                min-width: 600px;
                padding: 5%;


        }


            .work-redeem {
                flex: 1 1 auto;
                min-width: 600px;
                padding: 5%;
                align-self: center;
                margin-bottom: 30%;


            }

            #portfoliopic {
                padding: 2%;
                
            }

            .get-status {
                margin-top: 0rem;
                
            }



.hero {
    margin-top: 10rem;
    display: flex;
    flex-flow: row wrap-reverse;
    margin: 0 auto;
    width: min(90%, 70.5rem);
    margin-bottom: 10rem;


    
}


            .hero-image {
            
                flex: 1 1 auto;
                padding: 1%;
               
                margin-top: 5rem;

            }

.texto-principal {
    flex: 1 1 auto;
padding: 1%;
max-width: 1000px;
text-align: center;


}

.parrafo-principal {
    text-align: center;
    margin-top:5rem;
    max-width: 1000px;

    font-size: 1.14rem;

        margin: 0 auto;
}


.articulos {
    margin-top: 28rem;
}


}





@media all and (max-width: 768px) {
    .section .work .column {
        flex-direction: column;
    }


    .greybox2 {
        display: flex;
        flex-flow: column;
        margin: 0 auto;
        max-width: 35ch;
        margin-top: 50px;
        margin-top: 30rem;

     }



    .skills-img {
        margin-top: 0rem;
    }


    #hero-big {
        display: none;
    }


    #hero-medium {
        display: none;
    }

    #hero-small {
        display:flex;
        min-width: 350px;

    
    }


    .report-big {
        display: none;
    }

    
    .report-small {

        display:flex;
    flex-flow: column;
    border-radius: 2vh;
    align-items: center;
    padding: 1px 1px 1px 1px;
    width: 300px;
    text-align: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    place-items: center;
    vertical-align: middle;
    margin: 0 auto;
}



    h1 {
        font-size: 3rem;
    
    }


    h1 span {
        font-size: 3rem;

    }


    h2 {
        font-size: 1.854rem;
      
    
    }

    p {
        font-size: 0.927rem;
    }

    h6 {
        font-size: 4.85rem;
    }


    h5 { 
        font-size: 4rem;
    
    }


    li {
        font-size: 0.927rem;
        
    
    }
    

    li span {
        font-size: 1.854rem;
    
    }

    .logo {
        text-align: center;
        align-content: center;
        align-self: center; 
    }

    

    .articulos .overview .img-payments{
        
        flex-direction: column;
        text-align: justify;
        display: flex;
        text-align: center;
        align-content: center;
        align-self: center;
        margin: 0 auto;
    }

 
    .hero {
        margin-top: 10rem;
        display: flex;
        flex-flow: row wrap-reverse;
        margin: 0 auto;
        width: min(90%, 70.5rem);
        margin-bottom: 10rem;
        margin: 0 auto;

       
    }
    
    
                .hero-image {
                
                    flex: 1 1 auto;
                    padding: 1%;
                    margin-top: 10rem;
                    justify-content:center;
                    text-align: center;
                    align-content: center;
                    align-self: center;
                    justify-items: center;
                    justify-self: center;
                    place-items: center;
                    vertical-align: middle;
                
                
                
                }
    
    .texto-principal {
        flex: 1 1 auto;
    padding: 1%;
    max-width: 744px;
    text-align: center;
    
    }
    
    .parrafo-principal {
        text-align: center;
        margin-top: 5rem;
        max-width: 744px;
        margin: 0 auto;

        font-size: 1.14rem;
    
    }

.brands {
    display: none;
}



    .work-title {
        text-align: left;
        width: cover;
        margin: 0 auto;
        margin-bottom: 15%;
    margin-top: 10rem;
    
        background: url(../../images/bg5.svg);
        background-color: #161721 ;
        background-size:cover;
        background-repeat:no-repeat;
        
    
    }
    .work-title2 {
        text-align: center;
        padding-top: 40%;
        padding-bottom: 5%; 
        margin: 0 auto;
        width: min(90%, 20rem);

        }

	.work-bcdc  {
            margin-top: 20%;
                    flex: 1 1 auto;
                    min-width: 400px;
                    padding: 5%;
    
            }
	
	
	
	
        .work-status  {
            margin-top: 20%;
                    flex: 1 1 auto;
                    min-width: 400px;
                    padding: 5%;
    
            }
        
        
            .work-nike {
                flex: 1 1 auto;
                min-width: 400px;
                padding: 5%;

          }



          .work-skyscanner  {
              flex: 1 1 auto;
              min-width: 400px;
              padding: 5%;


      }


          .work-redeem {
              flex: 1 1 auto;
              min-width: 400px;
              padding: 5%;
              align-self: center;
              margin-bottom: 30%;


          }



}
    


@media all and (max-width: 411px){
    .section .work .column {
        flex-direction: column;
    }

    .column img { 
        flex: 1 1 auto;
        max-width: 350px;
    }







    .logo {
        text-align: center;
        align-content: center;
        align-self: center; 
    }

    

    .articulos .overview .img-payments{
        
        flex-direction: column;
        text-align: justify;
        display: flex;
        text-align: center;
        align-content: center;
        align-self: center;
        margin: 0 auto;
    }

    

    .hero-image {
                
        flex: 1 1 auto;
        padding: 1%;
        max-width: 387px;
        margin-top: 5rem;
        
        justify-content:center;
        text-align: center;
        align-content: center;
        align-self: center;
        justify-items: center;
        justify-self: center;
        place-items: center;
        vertical-align: middle;
    }


   



.texto-principal {
flex: 1 1 auto;
padding: 1%;
max-width: 387px;
text-align: center;

}

.parrafo-principal {
text-align: center;
margin-top:5rem;
max-width: 387px;

font-size: 1.14rem;

margin: 0 auto;
}


.work-title {
    text-align: left;
    width: cover;
    margin: 0 auto;
    margin-bottom: 15%;
margin-top: 10rem;

    background: url(../../images/bg5.svg);
    background-color: #161721 ;
    background-size:cover;
    background-repeat:no-repeat;
    

}
.work-title2 {
    text-align: center;
    padding-top: 40%;
    padding-bottom: 5%; 
    margin: 0 auto;
    width: min(90%, 20rem);

    }

	work-bcdc  {
        margin-top: 20%;
                flex: 1 1 auto;
                min-width: 214px;
                padding: 5%;

        }
	
	
	
	
    .work-status  {
        margin-top: 20%;
                flex: 1 1 auto;
                min-width: 214px;
                padding: 5%;

        }
    
    
        .work-nike {
            flex: 1 1 auto;
            min-width: 214px;
            padding: 5%;

      }



      .work-skyscanner  {
          flex: 1 1 auto;
          min-width: 214px;
          padding: 5%;


  }


      .work-redeem {
          flex: 1 1 auto;
          min-width: 214px;
          padding: 5%;
          align-self: center;
          margin-bottom: 30%;


      }





}
   
@media all and (max-width: 360px) {
    .section .work .column {
        flex-direction: column;
    }

    .column img { 
        flex: 1 1 auto;
        max-width: 300px;
    }
    

    .logo {
        text-align: center;
        align-content: center;
        align-self: center; 
    }

    

    .articulos .overview .img-payments{
        
        flex-direction: column;
        text-align: justify;
        display: flex;
        text-align: center;
        align-content: center;
        align-self: center;
        margin: 0 auto;
    }

   
    .hero-image {
                
        flex: 1 1 auto;
        padding: 1%;
        max-width: 336px;
        margin-top: 5rem;
    }

.texto-principal {
flex: 1 1 auto;
padding: 1%;
max-width: 336px;
text-align: center;

}

.parrafo-principal {
text-align: center;
margin-top:5rem;
max-width: 336px;

font-size: 1.14rem;

margin: 0 auto;
}

	
.work-bcdc  {
    margin-top: 20%;
            flex: 1 1 auto;
            min-width: 188px;
            padding: 5%;

    }
	
	
.work-status  {
    margin-top: 20%;
            flex: 1 1 auto;
            min-width: 188px;
            padding: 5%;

    }


    .work-nike {
        flex: 1 1 auto;
        min-width: 188px;
        padding: 5%;

  }



  .work-skyscanner  {
      flex: 1 1 auto;
      min-width: 188px;
      padding: 5%;


}


  .work-redeem {
      flex: 1 1 auto;
      min-width: 188px;
      padding: 5%;
      align-self: center;
      margin-bottom: 30%;


  }

}




.skyscanner1 {
    
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width:  150ch;
    margin-top: 5rem;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    place-items: center;
    line-height: 100%;
  
}



.fly {
    
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width:  100ch;
    margin-top: 5rem;

  
}



.icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
  }
  .dribbble {
    width: 100px;
  }



  mark {
    margin: 0;
    padding: 0em 0em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 209, 117, 0.1),
      rgba(255, 209, 117, 0.8) 4%,
      rgba(255, 209, 117, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  #imgrounded {
      border-radius: 2vh;
  }

  #imgrounded2 {
    border-radius: 4vh;
}
  
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 







    @keyframes bugfix {
        from {
          padding: 0;
        }
        to {
          padding: 0;
        }
      }
      @-webkit-keyframes bugfix {
        from {
          padding: 0;
        }
        to {
          padding: 0;
        }
      }
      #overlay-button {
        position:absolute;
        right: 2em;
        top: 3em;
        padding: 26px 11px;
        z-index: 5;
        cursor: pointer;
        user-select: none;
        margin-top: -1rem;
      }
      #overlay-button span {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: #c4c4c4;
        position: relative;
        display: block;
        transition: all 0.2s ease-in-out;
      }
      #overlay-button span:before {
        top: -10px;
        visibility: visible;
      }
      #overlay-button span:after {
        top: 10px;
      }
      #overlay-button span:before, #overlay-button span:after {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: #c4c4c4; 
        position: absolute;
        content: "";
        transition: all 0.2s ease-in-out;
      }
      #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
        background: #333332;
      }
      
      input[type=checkbox] {
        display: none;
      }
      
      input[type=checkbox]:checked ~ #overlay {
        visibility: visible;
      }
      
      input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
        background: transparent;
      }
      input[type=checkbox]:checked ~ #overlay-button span:before {
        transform: rotate(45deg) translate(7px, 7px);
        opacity: 1;
      }
      input[type=checkbox]:checked ~ #overlay-button span:after {
        transform: rotate(-45deg) translate(7px, -7px);
      }
      
      #overlay {
        height: 100vh;
        width: 100vw;
        background: #161721;
        z-index: 2;
        visibility: hidden;
        position: fixed;
      }
      #overlay.active {
        visibility: visible;
      }
      #overlay ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 100vh;
        padding-left: 0;
        list-style-type: none;
      }
      #overlay ul li {
        padding: 0em;
      }
      #overlay ul li a {
        color: white;
        text-decoration: none;
        
      }
      #overlay ul li a:hover {
        color: #333332;
      }


    
    
